.app-header{
    height: 80px;
    background-color: rgba(248, 185, 66, 0.308);
    padding: 20px;
    color: black;
}
.app-header .router-link-exact-active {
    color: black
}

.app-header a{
    color: rgb(139, 138, 138);
}

.app-header a:hover{
    color: black;
}
