@import './helpers.css';
@import './app-header.css';
@import './book-style/main.css';
@import './keep-style/main-keep.css';
@import './email-style/email-main.css';
@import './home-page.css';


html{
    font-family: cursive;
    margin: 0;
}

body{
    background-color: rgba(248, 185, 66, 0.308);
}