@media (max-width: 1040px){
    .keep-app{
        max-width: 860px;
    }
    .note-preview{
        width: 250px;
    }
    .note-edit{
        width: 75%;
    }
    .note-edit .btn{
        font-size: 1rem;
    }
    .note-list{
        padding: 0 20px;
    }
}

@media (max-width: 840px){
    .keep-app{
        max-width: 680px;
    }
    .note-list{
        column-count: 2;
        column-gap: 7%;
    }
    .note-preview{
        width: 300px;
    }
    .keep-app-input-container{
        right: 30%;
    }
    .note-edit{
        width: 60%;
    }
    .note-edit .btn{
        font-size: 1.1rem;
    }

}

@media (max-width: 700px){
    .note-preview{
        width: 100%;
    }
    .note-edit{
        width: 170px
    }
    .note-edit .btn{
        font-size: 1rem;
    }
    .logo, .logo.logo-video{
        font-size: 14px;
    }
    .logo.logo-img{
        font-size: 16px;
    }
    .keep-app-input-container {      
        top: 4.5rem;
        right: 25%;
        width: 50%;
    }
    .keep-app .note-logo { 
        padding: 10px;
        top: 120px;
        left: 0px;
    }
    .keep-app {
        padding-top: 70px;
    } 
}

@media (max-width: 600px){
    .keep-app{
        max-width: 500px;
        margin: 0 auto;
    }
    .note-list{
        column-count: 1;
    }
    .note-preview{
        width: 90%;
    }
    .note-edit{
        width: 60%
    }
    .note-edit .btn{
        font-size: 1.1rem;
    }
    .logo, .logo.logo-video{
        font-size: 1.4rem;
    }
    .logo.logo-img{
        font-size: 1.2rem;
    }
    li.note-preview{
        margin: 20px auto;
    }
}
