

.input-container {
    margin-bottom: 20px;
    margin-inline-start: 20px;
}

.red {
    color: red;
    padding-left: 10px;
}

.green {
    color: green;
    padding-left: 10px;
}

.book-preview img {
    width: 100%;
}

.book-preview h3{
    margin: 0;
}

.book-details span{
    margin-inline-start: 40px;
}

.book-details{
    padding: 10px;
}
.book-preview {
    font-size: 1.2rem;
    padding: 5px;
    padding-top: 10px;
    border: 3px solid black;
    height: 300px;
    width: 180px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
    text-align: center;
}


.book-preview:hover {
    cursor: pointer;
}

.book-preview h4{
    margin: 0;
}

.book-preview a{
    text-decoration: none;
    color: rgb(97, 94, 94);
}

.book-preview pre{
    font-family: fantasy;
    font-size: 0.8rem;
}

main {
    background-color: #fff;
}

.app-header nav{
    margin-inline-end: 20px;
    width: 30%;
}

.review-form{
    width: 90%;
   padding-left: 5px;
}

.book-details .desc{
    max-width: 400px;
}

.book-details .sub{
    max-width: 400px;
}

.book-details img.thumbnail {
    width: 20%;
    align-self: center;
    margin-top: 1rem;
    margin-inline-end: 20px;
}

.book-img{
    width: 100px;
}

.book-filter .book-filter-container{
    padding-left: 5px;
    position: absolute;
    top: 1.5rem;
    right: 39%;
    display: flex;
    width: 333px;
    height: 37px;
    border-radius: 5px;
    background-color: white;
    justify-content: center
}

.book-filter-container input{
    border: 0;
    outline: none;
}

.book-filter-container .txt-input{
    width: 65%;
}

.book-filter-container .num-input{
    width: 27%;
}

.book-filter-container i {
    width: 6%;
    align-self: center;
    color: #a0a0a0;
 }

 