.email-filter input {
    width: 67%;
    margin: 0;
    border: 0;
    outline: none;
}
.email-filter i {
   width: 6%;
   align-self: center;
   color: #a0a0a0;
}

.email-filter select {
    width: 25%;
    margin: 0;
    border: 0;
    outline: none;
}

.email-filter {
    position: absolute;
    top: 1.5rem;
    right: 39%;
    display: flex;
    width: 333px;
    height: 37px;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
}

.email-filter select > * {
    height: 50px   !important  ; 
}