.email-preview {
    /* border: 1px solid black; */
    padding-right: 3px;
}



.email-preview .email-time{
    margin: 1rem;
}

li.email-preview{
    width: 100%;
}

.mail-subject-container{
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.email-body {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.bold {
    font-weight: bold
}

.email-preview .email-sender{
    margin-inline-end: 2rem
}

.email-preview .email-subject {
    margin-inline-end: 2rem;
}

.envelope {
    position: absolute;
}

.envelope .btn {
    border: 0;
    background: none;
    font-size: 1rem;
    outline: none;
}

.email-preview:hover {
    cursor: pointer;
    background-color: #1311111a;
}