.email-nav-bar{
    position: fixed;
    padding-inline-start: 20px;
}

.email-nav-bar >*:hover{
    cursor: pointer;
}

.p-inbox{
    display: inline-block;
    margin-inline-end: 10px;
}
.inbox-container{
    height: 1.875rem;
}

.compose-btn{
    background: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    width: 110px;
}

.email-app .email-logo-img{
    width: 90px;
    padding: 10px;
    position: absolute;
    top: 77px;
    left: 20px;
}

.email-app .app-container{
    padding-top: 78px;
}


