.email-preview {
    border: 1px solid black;
}

.email-body {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.bold {
    font-weight: bold
}

.email-preview .email-subject {
    margin-inline-end: 2rem;
}

.envelope {
    position: absolute;
}

.envelope .btn {
    border: 0;
    background-color: white;
    font-size: 1rem;
    outline: none;
}

.email-preview:hover {
    cursor: pointer;
}