.email-nav-bar{
    position: fixed;
    padding-inline-start: 20px;
    padding-top: 11px;
}

.email-nav-bar >*:hover{
    cursor: pointer;
}

.p-inbox{
    display: inline-block;
    margin-inline-end: 10px;
}
.inbox-container{
    height: 1.875rem;
}

.compose-btn{
    background: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    width: 110px;
}

.email-app h1.email-logo{
    font-family: cursive;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 20px;
    color: rgb(139, 138, 138);
}

.email-app .app-container{
    padding-top: 78px;
    height: 86vh;
    /* background-color:  rgba(248, 185, 66, 0.308); */
}


.btn{
    cursor: pointer;
    background: none;
    outline: none;
}