.email-details {
    border: 0;
    max-width: 75%;
    margin: 0px 0px 0px 220px;
    padding: 20px;
    border: 1px solid lightgray;;
}

.close-details-btn {
    border-radius: 5px;
    font-size: 20px;
    border: 0;
}

.close-details-btn:hover {
    cursor: pointer;
}

.email-details .email-address {
    margin-inline-start: 20px;
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 400;
}