.note-todos ul {
    width: 100%;
}

.note-todos li button {
    margin-bottom: 6px;
}

.marked {
    text-decoration: line-through;
}

.note-todos pre {
    margin: 0;
    font-size: 14px;
    font-family: cursive;
}