


.note-preview {
    position: relative;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    page-break-inside: avoid;
}
.note-preview > *{
    width: 100%;
    padding: 4px;
}

.note-preview  textarea{
    width: 100%;
}
.note-preview:hover{
    -webkit-box-shadow: 12px 11px 13px 2px rgba(0,0,0,0.54); 
    box-shadow: 12px 11px 13px 2px rgba(0,0,0,0.54);
}

.logo{
    display: inline-block;
    position: absolute;
    left: 5px;
    bottom: 9.3px;
    font-size: 1.1rem;
    color: lightgrey;
}

.logo.logo-video {
    font-size: 1.2rem;
}
.logo.logo-img {
    font-size: 1.4rem;
}

