.note-edit .btn{
    outline: none;
    background: none;
    border: 0;
    color: lightgrey;
    font-size: 1.1rem;
}

.note-edit .btn:hover{
    cursor: pointer;
    color: black;
}

.note-edit{
    width: 59%;
    align-self: flex-end;
}